Options +FollowSymlinks
RewriteEngine On

Options All -Indexes

<filesMatch ".(css|js)$">
	Header set Cache-Control "max-age=86400, public"
</filesMatch>

<filesMatch ".(ico|jpg|jpeg|png|gif|tiff|tif|jfif)$">
	Header set Cache-Control "max-age=31536000, public"
</filesMatch>
 
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{THE_REQUEST} \.(?:html|php)\s [NC]
RewriteRule ^ - [R=404,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^(.*)$ $1.php?%1 [NC,L,QSA]